:root {
  /* Primary */
  --Blue: hsl(246, 80%, 60%);

  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);

  /* Neutral */
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);

  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Very-dark-blue);
  font-family: 'Rubik', sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  display: grid;
  grid-template-columns: minmax(300px, auto) 1fr;
  grid-template-areas: "aside main" "aside main";
  grid-gap: 0 20px;
  max-width: 1200px;
  margin: 50px auto;
}

/* Inicio perfil */

aside {
  border-radius: 15px;
  background-color: var(--Dark-blue);
}

/* perfil */
.perfil-content {
  border-radius: 15px;
  background-color: var(--Blue);
  padding: 2rem 0 5rem;
}

.perfil-container {
  margin-left: 2rem;
  max-width: 100px;
  display: flex;
  flex-direction: column;
}

.perfil-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
}

.perfil-container span {
  padding-top: 2rem;
  color: var(--Pale-Blue);
}

.perfil-container h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-top: .3rem;
  font-weight: 300;
  color: white;
}

/* navegacao */

nav {
  margin-left: 2rem;
  max-width: 100px;
  padding: 1.5rem 0;
}

nav li + li {
  margin-top: 1rem;
}

nav ul li a {
  color: var(--Desaturated-blue);
  transition: .2s;
}
nav ul li a:hover {
  color: var(--Pale-Blue);
}

nav ul li a.active {
  color: white;
}

/* Fim Perfil */

main {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "work play study" "exercise social self";
}

/*
  grid-area
*/
.work {
  grid-area: work;
  background: var(--Light-red-work) url(../../images/icon-work.svg) no-repeat 90% -5%;
}
.play {
  grid-area: play; 
  background: var(--Soft-blue-play) url(../../images/icon-play.svg) no-repeat 90% -5%;
}
.study {
  grid-area: study;
  background: var(--Light-red-study) url(../../images/icon-study.svg) no-repeat 90% -5%;
}
.exercise {
  grid-area: exercise;
  background: var(--Lime-green-exercise) url(../../images/icon-exercise.svg) no-repeat 90% -1%;
}
.social {
  grid-area: social;
  background: var(--Violet-social) url(../../images/icon-social.svg) no-repeat 90% -2%;
}
.self {
  grid-area: self;
  background: var(--Soft-orange-self-care) url(../../images/icon-self-care.svg) no-repeat 90% -5%;
}

.card {
  border-radius: 20px 20px 25px 25px;
}

.card a {
  height: calc(100% - 2.6rem);
  margin-top: 2.6rem;
  padding: 1rem;
  color: white;
  background-color: var(--Dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.three-points {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.three-points span {
  margin-bottom: .5rem;
}

.card-hours {
  font-weight: 300;
  font-size: 3rem;

}

.card-previous {
  font-size: .8rem;
  color: var(--Desaturated-blue);

}